SENDY_PROTOCOL=https
# Update FQDN to match your Sendy licensed domain.
SENDY_FQDN=campaigns.example.com
MYSQL_DATABASE="sendy-db"
MYSQL_USER="mysql-user"
MYSQL_PASSWORD="mysql-password"
MYSQL_ROOT_PASSWORD="mysql-root-password"

# XDEBUG
# REQUIRES BUILDING image with XDEBUG installed.
# See Dockerfile header for details.

# Uncomment to set XDEBUG enviorment configuration. Ensure `remote_port` does not have conflicts.
#XDEBUG_CONFIG=remote_host=host.docker.internal remote_port=9000 remote_enable=1 remote_autostart=1
